.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.imgContainer {
    display: flex;
    align-items: center;
    width: 500px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    text-align: left;
    font-size: 2vh;
    line-height: 1.35;
}

.container:nth-child(even){ 
    flex-direction: row-reverse;
}

.container:nth-child(odd) .imgContainer{ 
    padding: 0 15px 0 15px;

}

.container:nth-child(even) .imgContainer{ 
    padding: 0 15px 0 15px;
}

.container:nth-child(even) .textContainer{ 
    padding: 0 15px 0 15px;
}

.container:nth-child(odd) .textContainer{ 
    padding: 0 15px 0 15px;
}

img {
    width: 100%;
}

.title {
    font-size: 3vh;
}

@media screen and (max-width: 1060px) and (min-width: 726px) {
    .textContainer {
        width: 550px;
    }

    img {
        padding: 50px 0 50px 0;
    }
}

@media screen and (max-width: 725px) {
    .textContainer {
        width: 700px;
    }

    .imgContainer {
        margin: 50px 0 50px 0;
    }
}
